<div id="page">

  <h1 class="emphnext">{{ page.title }}</h1>

  {{ content }}


<!-- JiaThis Button BEGIN -->
<script type="text/javascript" >
var jiathis_config={
	siteNum:5,
	sm:"email,tsina,tqq,googleplus,twitter",
	summary:"",
	boldNum:3,
	showClose:true,
	hideMore:true
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jiathis_r.js?btn=r5.gif&move=0" charset="utf-8"></script>
<!-- JiaThis Button END -->
 <ul class="tag_box inline">
  {% assign tags_list = page.tags %}
  {% include JB/tags_list %}
  </ul>
<div class="prev_next post_nav">
    {% if page.previous.url %}
    <p class="previous">
        «&nbsp;<a href="{{ page.previous.url }}/" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title | truncatewords: 15 }}</a>
    </p>
    {% endif %}
    {% if page.next.url %}
    <p class="next">
        <a href="{{ page.next.url }}/" rel="next" title="{{ page.next.title }}">{{ page.next.title | truncatewords: 15 }}</a>&nbsp;»
    </p>
    {% endif %}
</div>

  <div id="related">
<h3>Related posts</h3>
  <div>
  {% for related in site.related_posts limit:5 %}
    <div class="related-post">
      <div class="title">
        <a href="{{ related.url }}/" target="_top">
          {{ related.title }}
        </a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
  
</div>


{% include JB/comments %}
  {% include JB/analytics %}